*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: aqua;
    padding: 10px 70px;
    justify-content: space-between;
}

header ul {
    display: flex;
    gap: 40px;
}
header li{
    list-style-type: none;
}
